<div class="col-md-4 offset-4 card mt-5">
    <h1 class="display-5 text-center">Login Page</h1>
    <form action="card">
        <div class="form-group">
            <label for="email">Email Address <span style="color: red;">*</span></label>
            <input type="email" name="email address" id="email address" class="form-control">
        </div>
          <div class="form-group">
              <label for="password">Password <span style="color: red;">*</span></label>
              <input type="text" name="text" id="text" class="form-control" >
          </div>
          <div class="form-group">
              <button class="btn btn-primary btn-block">Login Page</button>
              <input type="checkbox" id="lg_remember" name="lg_remember">
              <label for="lg_remember">remember</label>
              <a href="#" class="forgotpassword">forgotpassword</a>
          </div>
     </form>
</div>