/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body {
    background: #efefef;
    padding: 10px;
    font-family: 'Varela Round';
  }